---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=institutions.id:I67328108,type:dataset&per-page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":5,"db_response_time_ms":35,"page":null,"per_page":200,"next_cursor":"Ils1Ni4wLCAwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQzOTg5NTcwMDEnXSI=","groups_count":null},"results":[{"id":"https://openalex.org/W4398293344","doi":"https://doi.org/10.7910/dvn/dzzy7g/hzcqzp","title":"Replication
        Data for: The Aggregate Dynamics of Lower Court Responses to the US Supreme
        Court MKS_ReplicationCode_JLC.do","display_name":"Replication Data for: The
        Aggregate Dynamics of Lower Court Responses to the US Supreme Court MKS_ReplicationCode_JLC.do","publication_year":2019,"publication_date":"2019-01-01","ids":{"openalex":"https://openalex.org/W4398293344","doi":"https://doi.org/10.7910/dvn/dzzy7g/hzcqzp"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/DZZY7G/HZCQZP","pdf_url":null,"source":{"id":"https://openalex.org/S4377196806","display_name":"Harvard
        Dataverse","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_indexed_in_scopus":false,"is_core":false,"host_organization":"https://openalex.org/I136199984","host_organization_name":"Harvard
        University","host_organization_lineage":["https://openalex.org/I136199984"],"host_organization_lineage_names":["Harvard
        University"],"type":"repository"},"license":"other-oa","license_id":"https://openalex.org/licenses/other-oa","version":null,"is_accepted":false,"is_published":false},"type":"dataset","type_crossref":"dataset","indexed_in":["datacite"],"open_access":{"is_oa":true,"oa_status":"gold","oa_url":"https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/DZZY7G/HZCQZP","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5049347304","display_name":"Ali
        S. Masood","orcid":"https://orcid.org/0000-0003-1564-4477"},"institutions":[{"id":"https://openalex.org/I67328108","display_name":"California
        State University, Fresno","ror":"https://ror.org/03enmdz06","country_code":"US","type":"funder","lineage":["https://openalex.org/I67328108"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Ali
        Masood","raw_affiliation_strings":["(California State University, Fresno)"],"affiliations":[{"raw_affiliation_string":"(California
        State University, Fresno)","institution_ids":["https://openalex.org/I67328108"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5032839401","display_name":"Benjamin
        J. Kassow","orcid":"https://orcid.org/0000-0001-8769-0259"},"institutions":[{"id":"https://openalex.org/I24571045","display_name":"University
        of North Dakota","ror":"https://ror.org/04a5szx83","country_code":"US","type":"funder","lineage":["https://openalex.org/I24571045"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Benjamin
        J. Kassow","raw_affiliation_strings":["(University of North Dakota)"],"affiliations":[{"raw_affiliation_string":"(University
        of North Dakota)","institution_ids":["https://openalex.org/I24571045"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5041542206","display_name":"Donald
        R. Songer","orcid":null},"institutions":[{"id":"https://openalex.org/I155781252","display_name":"University
        of South Carolina","ror":"https://ror.org/02b6qw903","country_code":"US","type":"funder","lineage":["https://openalex.org/I155781252"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Donald
        R. Songer","raw_affiliation_strings":["(University of South Carolina)"],"affiliations":[{"raw_affiliation_string":"(University
        of South Carolina)","institution_ids":["https://openalex.org/I155781252"]}]}],"institution_assertions":[],"countries_distinct_count":1,"institutions_distinct_count":3,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":null,"has_fulltext":false,"cited_by_count":0,"citation_normalized_percentile":{"value":0.0,"is_in_top_1_percent":false,"is_in_top_10_percent":false},"cited_by_percentile_year":{"min":0,"max":61},"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"primary_topic":{"id":"https://openalex.org/T11762","display_name":"Law,
        Economics, and Judicial Systems","score":0.9859,"subfield":{"id":"https://openalex.org/subfields/2002","display_name":"Economics
        and Econometrics"},"field":{"id":"https://openalex.org/fields/20","display_name":"Economics,
        Econometrics and Finance"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},"topics":[{"id":"https://openalex.org/T11762","display_name":"Law,
        Economics, and Judicial Systems","score":0.9859,"subfield":{"id":"https://openalex.org/subfields/2002","display_name":"Economics
        and Econometrics"},"field":{"id":"https://openalex.org/fields/20","display_name":"Economics,
        Econometrics and Finance"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},{"id":"https://openalex.org/T13138","display_name":"Legal and
        Constitutional Studies","score":0.9637,"subfield":{"id":"https://openalex.org/subfields/2002","display_name":"Economics
        and Econometrics"},"field":{"id":"https://openalex.org/fields/20","display_name":"Economics,
        Econometrics and Finance"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},{"id":"https://openalex.org/T10802","display_name":"Judicial and
        Constitutional Studies","score":0.9491,"subfield":{"id":"https://openalex.org/subfields/3308","display_name":"Law"},"field":{"id":"https://openalex.org/fields/33","display_name":"Social
        Sciences"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/replication","display_name":"Replication","score":0.703838},{"id":"https://openalex.org/keywords/dynamics","display_name":"Dynamics","score":0.50075436}],"concepts":[{"id":"https://openalex.org/C2778272461","wikidata":"https://www.wikidata.org/wiki/Q190752","display_name":"Supreme
        court","level":2,"score":0.72926},{"id":"https://openalex.org/C12590798","wikidata":"https://www.wikidata.org/wiki/Q3933199","display_name":"Replication
        (statistics)","level":2,"score":0.703838},{"id":"https://openalex.org/C145912823","wikidata":"https://www.wikidata.org/wiki/Q113558","display_name":"Dynamics
        (music)","level":2,"score":0.50075436},{"id":"https://openalex.org/C199539241","wikidata":"https://www.wikidata.org/wiki/Q7748","display_name":"Law","level":1,"score":0.4648202},{"id":"https://openalex.org/C17744445","wikidata":"https://www.wikidata.org/wiki/Q36442","display_name":"Political
        science","level":0,"score":0.38504356},{"id":"https://openalex.org/C33923547","wikidata":"https://www.wikidata.org/wiki/Q395","display_name":"Mathematics","level":0,"score":0.1522918},{"id":"https://openalex.org/C15744967","wikidata":"https://www.wikidata.org/wiki/Q9418","display_name":"Psychology","level":0,"score":0.14872217},{"id":"https://openalex.org/C105795698","wikidata":"https://www.wikidata.org/wiki/Q12483","display_name":"Statistics","level":1,"score":0.09185359},{"id":"https://openalex.org/C19417346","wikidata":"https://www.wikidata.org/wiki/Q7922","display_name":"Pedagogy","level":1,"score":0.0}],"mesh":[],"locations_count":2,"locations":[{"is_oa":true,"landing_page_url":"https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/DZZY7G/HZCQZP","pdf_url":null,"source":{"id":"https://openalex.org/S4377196806","display_name":"Harvard
        Dataverse","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_indexed_in_scopus":false,"is_core":false,"host_organization":"https://openalex.org/I136199984","host_organization_name":"Harvard
        University","host_organization_lineage":["https://openalex.org/I136199984"],"host_organization_lineage_names":["Harvard
        University"],"type":"repository"},"license":"other-oa","license_id":"https://openalex.org/licenses/other-oa","version":null,"is_accepted":false,"is_published":false},{"is_oa":false,"landing_page_url":"https://api.datacite.org/dois/10.7910/dvn/dzzy7g/hzcqzp","pdf_url":null,"source":{"id":"https://openalex.org/S4393179698","display_name":"DataCite
        API","issn_l":null,"issn":null,"is_oa":true,"is_in_doaj":false,"is_indexed_in_scopus":false,"is_core":false,"host_organization":"https://openalex.org/I4210145204","host_organization_name":"DataCite","host_organization_lineage":["https://openalex.org/I4210145204"],"host_organization_lineage_names":["DataCite"],"type":"metadata"},"license":null,"license_id":null,"version":null}],"best_oa_location":{"is_oa":true,"landing_page_url":"https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/DZZY7G/HZCQZP","pdf_url":null,"source":{"id":"https://openalex.org/S4377196806","display_name":"Harvard
        Dataverse","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_indexed_in_scopus":false,"is_core":false,"host_organization":"https://openalex.org/I136199984","host_organization_name":"Harvard
        University","host_organization_lineage":["https://openalex.org/I136199984"],"host_organization_lineage_names":["Harvard
        University"],"type":"repository"},"license":"other-oa","license_id":"https://openalex.org/licenses/other-oa","version":null,"is_accepted":false,"is_published":false},"sustainable_development_goals":[],"grants":[],"datasets":[],"versions":[],"referenced_works_count":0,"referenced_works":[],"related_works":["https://openalex.org/W4391375266","https://openalex.org/W4378229060","https://openalex.org/W4300793527","https://openalex.org/W3123993492","https://openalex.org/W2748952813","https://openalex.org/W2611247913","https://openalex.org/W2557583602","https://openalex.org/W2043365553","https://openalex.org/W1980452762","https://openalex.org/W1560432242"],"abstract_inverted_index":{":unav":[0]},"abstract_inverted_index_v3":null,"cited_by_api_url":"https://api.openalex.org/works?filter=cites:W4398293344","counts_by_year":[],"updated_date":"2025-02-02T15:51:45.052029","created_date":"2024-05-24"},{"id":"https://openalex.org/W4398591158","doi":"https://doi.org/10.7910/dvn/dzzy7g/umzm9n","title":"MKS_ReplicationData_JLC.tab","display_name":"MKS_ReplicationData_JLC.tab","publication_year":2019,"publication_date":"2019-01-01","ids":{"openalex":"https://openalex.org/W4398591158","doi":"https://doi.org/10.7910/dvn/dzzy7g/umzm9n"},"language":"en","primary_location":{"is_oa":true,"landing_page_url":"https://dataverse.harvard.edu/file.xhtml?persistentId=doi:10.7910/DVN/DZZY7G/UMZM9N[...]
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=Ils1Ni4wLCAwLCAnaHR0cHM6Ly9vcGVuYWxleC5vcmcvVzQzOTg5NTcwMDEnXSI=&filter=institutions.id:I67328108,type:dataset&per-page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    body:
      encoding: UTF-8
      string: '{"meta":{"count":5,"db_response_time_ms":28,"page":null,"per_page":200,"next_cursor":null,"groups_count":null},"results":[],"group_by":[]}

        '
  recorded_at: Wed, 30 Apr 2025 19:16:14 GMT
recorded_with: VCR 6.3.1
