---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works/https://doi.org/10.7910/dvn/qj9rlj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '9'
      Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://openalex.org/W4398887383","doi":"https://doi.org/10.7910/dvn/qj9rlj","title":"The
        Face of the Problem: How Subordinates Shield Executives from Blame","display_name":"The
        Face of the Problem: How Subordinates Shield Executives from Blame","publication_year":2021,"publication_date":"2021-05-11","ids":{"openalex":"https://openalex.org/W4398887383","doi":"https://doi.org/10.7910/dvn/qj9rlj"},"language":"en","primary_location":{"id":"doi:10.7910/dvn/qj9rlj","is_oa":true,"landing_page_url":"https://doi.org/10.7910/dvn/qj9rlj","pdf_url":null,"source":{"id":"https://openalex.org/S4377196806","display_name":"Harvard
        Dataverse","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"is_core":false,"host_organization":"https://openalex.org/I136199984","host_organization_name":"Harvard
        University","host_organization_lineage":["https://openalex.org/I136199984"],"host_organization_lineage_names":[],"type":"repository"},"license":"public-domain","license_id":"https://openalex.org/licenses/public-domain","version":null,"is_accepted":false,"is_published":false,"raw_source_name":null,"raw_type":"dataset"},"type":"dataset","indexed_in":["datacite"],"open_access":{"is_oa":true,"oa_status":"green","oa_url":"https://doi.org/10.7910/dvn/qj9rlj","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5023940981","display_name":"Jared
        McDonald","orcid":"https://orcid.org/0000-0002-2429-271X"},"institutions":[{"id":"https://openalex.org/I97018004","display_name":"Stanford
        University","ror":"https://ror.org/00f54p054","country_code":"US","type":"education","lineage":["https://openalex.org/I97018004"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Jared
        McDonald","raw_affiliation_strings":["(Stanford University)"],"affiliations":[{"raw_affiliation_string":"(Stanford
        University)","institution_ids":["https://openalex.org/I97018004"]}]},{"author_position":"middle","author":{"id":"https://openalex.org/A5049691134","display_name":"Sarah
        E. Croco","orcid":"https://orcid.org/0000-0002-8345-6104"},"institutions":[{"id":"https://openalex.org/I66946132","display_name":"University
        of Maryland, College Park","ror":"https://ror.org/047s2c258","country_code":"US","type":"education","lineage":["https://openalex.org/I66946132"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Sarah
        E. Croco","raw_affiliation_strings":["(University of Maryland, College Park)"],"affiliations":[{"raw_affiliation_string":"(University
        of Maryland, College Park)","institution_ids":["https://openalex.org/I66946132"]}]},{"author_position":"last","author":{"id":"https://openalex.org/A5075172061","display_name":"Candace
        Turitto","orcid":"https://orcid.org/0000-0001-8953-644X"},"institutions":[{"id":"https://openalex.org/I66946132","display_name":"University
        of Maryland, College Park","ror":"https://ror.org/047s2c258","country_code":"US","type":"education","lineage":["https://openalex.org/I66946132"]}],"countries":["US"],"is_corresponding":false,"raw_author_name":"Candace
        Turitto","raw_affiliation_strings":["(University of Maryland, College Park)"],"affiliations":[{"raw_affiliation_string":"(University
        of Maryland, College Park)","institution_ids":["https://openalex.org/I66946132"]}]}],"institutions":[],"countries_distinct_count":1,"institutions_distinct_count":3,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"fwci":0.0,"has_fulltext":false,"cited_by_count":1,"citation_normalized_percentile":null,"cited_by_percentile_year":null,"biblio":{"volume":null,"issue":null,"first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"is_xpac":false,"primary_topic":{"id":"https://openalex.org/T12268","display_name":"Deception
        detection and forensic psychology","score":0.828000009059906,"subfield":{"id":"https://openalex.org/subfields/3207","display_name":"Social
        Psychology"},"field":{"id":"https://openalex.org/fields/32","display_name":"Psychology"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},"topics":[{"id":"https://openalex.org/T12268","display_name":"Deception
        detection and forensic psychology","score":0.828000009059906,"subfield":{"id":"https://openalex.org/subfields/3207","display_name":"Social
        Psychology"},"field":{"id":"https://openalex.org/fields/32","display_name":"Psychology"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}},{"id":"https://openalex.org/T12965","display_name":"Wildlife Conservation
        and Criminology Analyses","score":0.7476999759674072,"subfield":{"id":"https://openalex.org/subfields/2309","display_name":"Nature
        and Landscape Conservation"},"field":{"id":"https://openalex.org/fields/23","display_name":"Environmental
        Science"},"domain":{"id":"https://openalex.org/domains/3","display_name":"Physical
        Sciences"}},{"id":"https://openalex.org/T11762","display_name":"Law, Economics,
        and Judicial Systems","score":0.7282999753952026,"subfield":{"id":"https://openalex.org/subfields/2002","display_name":"Economics
        and Econometrics"},"field":{"id":"https://openalex.org/fields/20","display_name":"Economics,
        Econometrics and Finance"},"domain":{"id":"https://openalex.org/domains/2","display_name":"Social
        Sciences"}}],"keywords":[{"id":"https://openalex.org/keywords/blame","display_name":"Blame","score":0.8988469839096069},{"id":"https://openalex.org/keywords/face","display_name":"Face
        (sociological concept)","score":0.7456916570663452},{"id":"https://openalex.org/keywords/shield","display_name":"Shield","score":0.5492352247238159},{"id":"https://openalex.org/keywords/psychology","display_name":"Psychology","score":0.490416020154953},{"id":"https://openalex.org/keywords/face-shield","display_name":"Face
        [...]
