---
http_interactions:
- request:
    method: get
    uri: https://zenodo.org/api/records/4999985
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3"
      Link:
      - <https://zenodo.org/api/records/4999985> ; rel="linkset" ; type="application/linkset+json"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1743699658'
      Retry-After:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"created": "2021-06-20T15:46:44.956104+00:00", "modified": "2022-05-31T01:13:09.811588+00:00",
        "id": 4999985, "conceptrecid": "4999984", "doi": "10.5061/dryad.st6h9", "doi_url":
        "https://doi.org/10.5061/dryad.st6h9", "metadata": {"title": "Data from: Mutational
        analysis of Rab3 function for controlling active zone protein composition
        at the Drosophila neuromuscular junction", "doi": "10.5061/dryad.st6h9", "publication_date":
        "2016-08-17", "description": "At synapses, the release of neurotransmitter
        is regulated by molecular machinery that aggregates at specialized presynaptic
        release sites termed active zones. The complement of active zone proteins
        at each site is a determinant of release efficacy and can be remodeled to
        alter synapse function. The small GTPase Rab3 was previously identified as
        playing a novel role that controls the distribution of active zone proteins
        to individual release sites[...]
