---
http_interactions:
- request:
    method: get
    uri: https://redivis.com/api/v1/datasets/sdss.project_loon:673p:v1_0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1747221127'
      Last-Modified:
      - Invalid Date
      Etag:
      - W/"932-pWdwlKN5AfxPVyZrOVUQ7+tqPTQ"
    body:
      encoding: UTF-8
      string: '{"kind":"dataset","id":"673p-a2f2hqe7m","qualifiedReference":"sdss.project_loon:673p:v1_0","scopedReference":"project_loon:673p:v1_0","referenceId":"673p","name":"Project
        Loon","url":"https://redivis.com/datasets/673p-a2f2hqe7m?v=1.0","uri":"/datasets/sdss.project_loon:673p:v1_0","doi":"10.57761/mjpn-gn58","owner":{"kind":"organization","name":"SDSS","fullName":"Stanford
        Doerr School of Sustainability","ror":null},"createdAt":1719349397162,"updatedAt":1726772432038,"accessLevel":"data","publicAccessLevel":"data","description":"The
        purpose of this dataset is to offer an estimate of the horizontal momentum
        fluxed vertically by the atmospheric internal gravity waves (GWs) observed
        by Project Loon balloons. This vertical flux of horizontal momentum is commonly
        referred to as the GW momentum flux. Before estimating the GW momentum fluxes,
        additional processing was necessary to remove data sampling errors, irregularities,
        and balloon maneuvering.","tableCount":1,"numBytes":2394493251,"totalNumBytes":2511313281,"totalActiveTabularBytes":2511313281,"totalInactiveTabularBytes":0,"totalRawFileBytes":0,"temporalPrecision":"dateTime","temporalRange":[1366405738562,1617252349000],"geoBBox":null,"sampleConfiguration":null,"methodologyMarkdown":"\n\nThe
        procedures for this processing, and the subsequent analysis of the processed
        data, are described in Green et al. (2024). The Python code (in Jupyter notebooks)
        that was used for both is available at: [https://github.com/DataWaveProject/Loon-momentum-fluxes](<https://github.com/DataWaveProject/Loon-momentum-fluxes>).\n\n\n\n\n\n","usageMarkdown":"See
        the following sample project for examples:\n\n\n\n[https://redivis.com/projects/q08b-889vc3xgg](<https://redivis.com/projects/q08b-889vc3xgg>)\n\n","links":[],"customDocumentationSections":[],"tags":[],"version":{"kind":"version","tag":"v1.0","index":0,"label":null,"url":"https://redivis.com/datasets/673p-a2f2hqe7m?v=1.0","datasetUri":"/datasets/sdss.project_loon:673p:v1_0","uri":"/datasets/sdss.project_loon:673p/versions/v1_0","isReleased":true,"isDeleted":false},"currentVersion":{"kind":"version","tag":"v1.0","index":0,"label":null,"url":"https://redivis.com/datasets/673p-a2f2hqe7m?v=1.0","datasetUri":"/datasets/sdss.project_loon:673p:v1_0","uri":"/datasets/sdss.project_loon:673p/versions/v1_0","isReleased":true,"isDeleted":false}}'
  recorded_at: Wed, 14 May 2025 11:11:06 GMT
- request:
    method: get
    uri: https://redivis.com/api/v1/datasets/sdss.project_loon:673p:v1_0/tables?maxResults=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1747221127'
      Etag:
      - W/"250-bNaQG7aaOwd0JOAOzyW83Hy08qE"
    body:
      encoding: UTF-8
      string: '{"kind":"tableList","nextPageToken":null,"results":[{"kind":"table","id":"9dzz-bt5g5twtp","qualifiedReference":"sdss.project_loon:673p:v1_0.loon:9dzz","scopedReference":"loon:9dzz","referenceId":"9dzz","uri":"/tables/sdss.project_loon:673p:v1_0.loon:9dzz","url":"https://redivis.com/datasets/673p-a2f2hqe7m/tables/9dzz-bt5g5twtp?v=1.0","name":"Loon","isSample":false,"hash":"e3d1470527ffde54a0c14db9b669426b","isFileIndex":false,"createdAt":1719349410878,"updatedAt":1743690126169,"description":null,"numRows":3894001,"numBytes":2394493251,"variableCount":30,"uploadMergeStrategy":"append"}]}'
  recorded_at: Wed, 14 May 2025 11:11:06 GMT
- request:
    method: get
    uri: https://redivis.com/api/v1/tables/sdss.project_loon:673p:v1_0.loon:9dzz/variables?maxResults=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Reset:
      - '1747221127'
      Etag:
      - W/"1ff3-tRylntIBmqeFAnOVzZtPVd97SEk"
    body:
      encoding: UTF-8
      string: '{"kind":"variableList","nextPageToken":null,"results":[{"kind":"variable","uri":"/tables/sdss.project_loon:673p:v1_0.loon:9dzz/variables/flight_id","url":"https://redivis.com/datasets/673p-a2f2hqe7m/tables/9dzz-bt5g5twtp?v=1.0&variable=flight_id","name":"flight_id","type":"string","isFileId":false,"index":0,"label":null},{"kind":"variable","uri":"/tables/sdss.project_loon:673p:v1_0.loon:9dzz/variables/time","url":"https://redivis.com/datasets/673p-a2f2hqe7m/tables/9dzz-bt5g5twtp?v=1.0&variable=time","name":"time","type":"dateTime","isFileId":false,"index":1,"label":null},{"kind":"variable","uri":"/tables/sdss.project_loon:673p:v1_0.loon:9dzz/variables/latitude","url":"https://redivis.com/datasets/673p-a2f2hqe7m/tables/9dzz-bt5g5twtp?v=1.0&variable=latitude","name":"latitude","type":[...]
