---
http_interactions:
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=*&filter=cites:W4398887383,type:!dataset%7Cdatabase%7Csoftware&per-page=200&select=id,doi,ids,type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '9'
      Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":1,"db_response_time_ms":1156,"page":null,"per_page":200,"next_cursor":"Ils5OS4wLCAxMSwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL1czMTcxOTg3MTAzJ10i","groups_count":null},"results":[{"id":"https://openalex.org/W3171987103","doi":"https://doi.org/10.1017/xps.2021.16","ids":{"openalex":"https://openalex.org/W3171987103","doi":"https://doi.org/10.1017/xps.2021.16","mag":"3171987103"},"type":"article"}],"group_by":[]}

        '
  recorded_at: Thu, 20 Nov 2025 22:32:39 GMT
- request:
    method: get
    uri: https://api.openalex.org/works?cursor=Ils5OS4wLCAxMSwgJ2h0dHBzOi8vb3BlbmFsZXgub3JnL1czMTcxOTg3MTAzJ10i&filter=cites:W4398887383,type:!dataset%7Cdatabase%7Csoftware&per-page=200&select=id,doi,ids,type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '5'
      Ratelimit-Remaining:
      - '9'
      Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":1,"db_response_time_ms":571,"page":null,"per_page":200,"next_cursor":null,"groups_count":null},"results":[],"group_by":[]}

        '
  recorded_at: Thu, 20 Nov 2025 22:32:42 GMT
recorded_with: VCR 6.3.1
