# production:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day
production:
  redivis_stanfordphs_etl:
    class: RedivisEtlJob
    args: [ { organization: 'StanfordPHS' } ]
    schedule: every week
  datacite_etl:
    class: DataciteEtlJob
    schedule: every week