---
http_interactions:
- request:
    method: get
    uri: https://sul-solr-prod-a.stanford.edu/solr/searchworks-prod/select?q=id:does_not_exist&rows=100&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 09 Apr 2025 22:11:07 GMT
      Etag:
      - '"ZjMxYmEyMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":19,
            "params":{
              "q":"id:does_not_exist",
              "start":"0",
              "rows":"100",
              "wt":"json"}},
          "response":{"numFound":0,"start":0,"maxScore":0.0,"numFoundExact":true,"docs":[]
          },
          "facet_counts":{
            "facet_queries":{},
            "facet_fields":{
              "access_facet":[],
              "author_person_facet":[],
              "author_other_facet":[],
              "building_facet":[],
              "callnum_facet_hsim":[],
              "stanford_work_facet_hsim":[],
              "stanford_dept_sim":[],
              "collection":[],
              "db_az_subject":[],
              "era_facet":[],
              "format_main_ssim":[],
              "format_physical_ssim":[],
              "fund_facet":[],
              "genre_ssim":[],
              "geographic_facet":[],
              "language":[],
              "location_facet":[],
              "pub_date":[],
              "pub_year_tisim":[],
              "topic_facet":[]},
            "facet_ranges":{},
            "facet_intervals":{},
            "facet_heatmaps":{}}}
  recorded_at: Wed, 09 Apr 2025 22:26:40 GMT
recorded_with: VCR 6.3.1
